<?xml version="1.0"?>
<network>
  <name>{{.Name}}</name>
  <bridge name="{{.Bridge}}"/>
  <forward mode="nat"/>
  <ip address="{{.Address}}" netmask="{{.Netmask}}">
    {{if .DHCP}}
    <dhcp>
      <range start="{{.RangeStart}}" end="{{.RangeEnd}}"/>
    </dhcp>
    {{end}}
  </ip>
</network>
